body {
  margin: 0;
  background: white;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg:  #rgba(0, 0, 0, 0.85);
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 0px solid #474a4d;
  --border-radius: 2px;
  --speed: 500ms; 
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;;
}

/* Top Navigation Bar */

/* <ul> */
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  /* background-color: #484a4d; */
  /* border-radius: 50%; */
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  bottom: 40px;
  right: 300px;
}

.icon-button.dropdown-button{
  position: absolute;
  background-color: #484a4d; 
  border-radius: 50%;
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg { 
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.icon-button.dropdown-button.open{
  transform: rotate(0deg);
}


/* Dropdown Menu */

.dropdown {
  position: absolute;
  bottom: 50%;
  width: 300px;
  transform: translateX(-45%);
  background-color: rgba(0, 0, 0, 0.85);
  border: var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: height var(--speed) ease;
  bottom: 100px;
  right: 160px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.menu {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.menu-item {
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  padding-left: 20px;
  padding-right: 20px;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}


.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.menu-item:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.icon-right {
  margin-left: auto;
  width: 8px;
  color: white;
}

.icon-right svg{
  fill: white;
}

.toggleStatus{
  margin: 0 0 0 auto;
}

/* CSSTransition classes  */


.menu-s-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-s-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-s-exit {
  position: absolute;
}
.menu-s-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-islideRight-enter {
  position: absolute; 
  transform: translateX(-110%);
}
.menu-islideRight-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-islideRight-exit {
  
}
.menu-islideRight-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.menu-islideLeft-enter {
  transform: translateX(110%);
}
.menu-islideLeft-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-islideLeft-exit {
  position: absolute;
}
.menu-islideLeft-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-e-enter {
  transform: translateX(110%);
}
.menu-e-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-e-exit {

}
.menu-e-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}